{
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true
    },
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      }
    }
  ]
}
